<h1 class="page-title">Cart</h1>
<div class="container">
    <div *ngIf="cartItems.length" class="products">
        <div *ngFor="let cartItem of cartItems" class="product--container">
            <div class="img--container">
                <img [src]=cartItem.images[0] />
            </div>
            <div class="description-container">
                <p class="title">{{cartItem.title}}</p>
                <p class="price">{{cartItem.price | currency }}</p>
                <form>
                    <label for="quantity">Select quantity:</label>
                    <input class="quantity" type="number" name="quantity" required min="1" [(ngModel)]="cartItem.quantity" (ngModelChange)="onChange($event)">
                </form>
                <button class="destructive-btn" (click)="removeProduct(cartItem)">Remove</button>
            </div>
        </div>
    </div>

    <div class="form--container">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-field-container">
            <label for="name">Full name:</label>
            <input class="input-field" type="text" name="name" [(ngModel)]="name" required minlength="6" placeholder="John Doe">
            </div>
            <div class="input-field-container">
            <label for="address">Address:</label>
            <input class="input-field" type="text" name="address" required minlength="6" [(ngModel)]="address" placeholder="23 Example St">
            </div>
            <div class="input-field-container">
            <label for="cardNo">Card number:</label>
            <input class="input-field" type="text" name="cardNo" required maxlength="16" minlength="16"  [(ngModel)]="cardNo" placeholder="0000000000000000">
            </div>
            <button type="submit" class="primary-btn" [disabled]="form.invalid">Checkout</button>
        </form>
        <div *ngIf="cartItems.length" class="total--container">
            <p>Total:</p>
            <p class="title">{{ totalCost | currency }}</p>
        </div>
    </div>
</div>


