<div class="container">
    <div class="img--container">
    <img [src]=product.images[0]/>
    </div>
    <p class="title">{{ product.title }}</p>
    <p class="price">{{ product.price | currency}}</p>
    <form>
        <label for="quantity">Select quantity:</label>
        <input type="number" name="quantity" required min="1" [(ngModel)]="product.quantity">
    </form>
    <div class="button--container">
    <button (click)="addToCart(product)" class="primary-btn">Add to Cart</button>
    <button [routerLink]="['/products', product.id]" class="secondary-btn">View More</button>
    </div>
</div>
